*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

/* right_sidebar style is here  */
.container .right_sidebar {
    flex-basis: 82%;
    height: 100%;
    padding: 2rem;
    box-shadow: inset 0px 2px 6px #eee;
}
.container .right_sidebar p {
    text-align: center;
}
.container .right_sidebar p img {
    width: 35%;
    margin: auto;
}
.container .right_sidebar h1 {
    text-align: center;
    margin-top: 2rem;
}

/* Contact Us styling  */
.right_sidebar .ContactContainer {
    width: 100%;
    height: auto;
    padding: 5rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ContactContainer .image , .ContactContainer .form {
    flex-basis: 50%;
  }
  .ContactContainer .image img {
    width: 300px;
  }
  .ContactContainer .form form input,   .ContactContainer .form form textarea {
    width: 100%;
    padding: .8rem 1rem;
    margin-bottom: 15px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 2px;
    box-shadow: 0px 1px 3px #888;
  }
  #contact_btn {
    font-size: 16px;
    font-weight: 500;
    background: #010c61;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: all .4s;
  }
  #contact_btn:hover {
    box-shadow: 0px 2px 8px #777;
  }
  
  /* Resume Form styleing  */
  .ResumeContainer {
    width: 100%;
    height: 100%;
}
.FormSteps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: .8rem;
}
.FormSteps button {
  padding: 20px 27px;
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: 17px;
  cursor: pointer;
  background: #eee;
  transition: all .3s;
}
.FormSteps button:hover {
  background: #010c61;
  color: #fff;
  box-shadow: 0px 1px 5px #010c61bb;
}
.resumeForm {
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
}
.resumeForm fieldset {
  padding: 1.9rem;
}
.resumeForm fieldset legend {
  font-size: 26px;
}
.resumeForm fieldset input#firstName,.resumeForm fieldset input#lastName,.resumeForm fieldset input#userNumber,.resumeForm fieldset input#userMail, 
.resumeForm fieldset input#userJob, .resumeForm fieldset input#userAddress, .resumeForm fieldset input#companyName, .resumeForm fieldset input#companyJobRole
{
  width: 44%;
}
.resumeForm fieldset input#lastName, .resumeForm fieldset input#userMail, .resumeForm fieldset input#userAddress, .resumeForm fieldset input#companyJobRole {
  margin-left: 10%;
}
.resumeForm fieldset input#jobRole,.resumeForm fieldset input#userEmail, .resumeForm fieldset textarea {
  width: 98.8%;
}
.resumeForm fieldset input, .resumeForm fieldset textarea {
  margin-top: 1.6rem;
  padding: 10px 13px;
  outline: none;
  resize: none;
}
.resumeForm fieldset #Form1btn, .resumeForm fieldset #Form2btn, #addExp, #Form3btn, #Form4btn, #Form5btn {
  float: right;
  margin-right: 1rem;
  padding: 0.6rem 3rem;
  background: #eee;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all .3s;
}
#addExp:hover {
  background: #01611e;
  color: #fff;
  box-shadow: 0px 1px 5px #01611ebb;
}
.resumeForm fieldset #Form1btn:hover, .resumeForm fieldset #Form2btn:hover, #Form3btn:hover, #Form4btn:hover, #Form5btn:hover {
  background: #010c61;
  color: #fff;
  box-shadow: 0px 1px 5px #010c61bb;
}
.resumeForm input#universityName, input#degreeName {
  width: 100%;
}
.resumeForm input#startYear, input#endYear {
  width: 49.5%;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-group > * {
  margin: 0.5rem 0.5rem;
}

.checkbox-group-legend {
  font-size: 1.5rem;
  font-weight: 700;
  color: #9c9c9c;
  text-align: center;
  line-height: 1.125;
  margin-bottom: 1.25rem;
}

.checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-input:checked + .checkbox-tile {
  border-color: #010c61;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #010c61;
}
.checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #010c61;
  border-color: #010c61;
}
.checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #010c61;
}
.checkbox-input:focus + .checkbox-tile {
  border-color: #010c61;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 9rem;
  min-height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.checkbox-tile:hover {
  border-color: #010c61;
}
.checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}
.checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

.checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}
#imagePriview {
  width: 150px;
  height: 150px;
  background-color: #eee;
  border-radius: 50%;
}
#userImage {
  display: none;
}
#userImageLabel {
  background: #010c61;
  color: #fff;
  padding: 12px 26px;
  border-radius: 5px;
  margin-top: 3rem;
  cursor: pointer;
}
#JobExp ul {
  display: flex;
}
#JobExp ul li {
  font-size: 13px;
  background: #e4e4e4;
  padding: 7px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 5px;
}