*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
}

/* Style to the header section */

.header {
    width: 100%;
    height: auto;
    position: relative;
}

.header nav {
    width: 100%;
    height: 60px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header nav #logo,
.header nav .UserAccount {
    width: 10%;
    display: flex;
    align-items: center;
}
.header nav #logo img {
    width: 12rem;
}
.UserAccount {
    cursor: pointer;
}
.UserAccount img {
    width: 2.3rem;
    margin-right: 12px;
}
.accountInfo {
    position: relative;
}
.UserAccountActive p {
    font-weight: bold;
    margin-bottom: .7rem;
    color: #444;
}
#UserAccountBox {
    position: absolute;
    top: 45px;
    right: 0;
}
.UserAccountActive {
    width: 13rem;
    height: auto;
    padding: 0.7rem 2rem;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0px 3px 7px #e0e0e0;
    transition: all .5s;
} 
.UserAccountActive ul li {
    width: 100%;
    height: 35px;
    margin: 3px 0;
}
.links {
    margin-top: .7rem;
}
.UserAccounthidden {
    height: auto;
    display: none;
}
.UserAccountActive ul li:hover {
    color: rgb(0, 183, 255);
    text-decoration: underline;
}
.UserAccountActive ul li img {
    width: 15px;
    margin-right: 5px;
}
/* container styling is here  */
.container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* left_sidebar style is here  */
.container .left_sidebar {
    flex-basis: 15%;
    height: 100%;
}
.ContentList {
    width: 90%;
    margin: auto;
    background: red;
}
/* right_sidebar style is here  */
.container .right_sidebar {
    flex-basis: 85%;
    height: 100%;
}
