/* To all elements in html  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
body {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.header , .sectionOne, .sectionTwo , .sectionThree {
  scroll-snap-align: start;
}
/* Style to the header section */

.header {
  width: 100%;
  height: 100vh;
}
.header nav {
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: url(../../Assets/images/bg.png); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header nav #logo,
.header nav .enterBtn {
  width: 10%;
  display: flex;
  align-items: center;
}
.header nav .links,
.header nav .links ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header nav .links ul li {
  position: relative;
}
.header nav .links ul li::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #010c61;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.5s;
}
.header nav .links ul li:hover::before {
  width: 100%;
}
.header nav .links ul li:first-child::before {
  width: 100%;
}
.header nav .enterBtn button,
#startBtn,
#sectionOneBtn {
  padding: 8px 40px;
  border: none;
  outline: none;
  /* background: #010c61; */
  background: #010c61e5;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.header nav .enterBtn button:hover,
#startBtn:hover, #sectionOneBtn:hover {
  box-shadow: 0px 1px 5px #555;
}

/* Container style in header section  */
.container {
  width: 100%;
  height: calc(100% - 60px);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content,
.image {
  flex-basis: 50%;
}
.content {
  padding: 20px;
}
.content h1,
.content p,
.content button {
  margin-top: 15px;
}
.content h1 {
  font-size: 4rem;
}
.content h1 span, .sectionOne .imageContent h1 span , .sectionTwo .sectionTwoContent h1 span, .sectionThree h1 span{
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.content p {
  width: 95%;
  color: #5d646e;
}
.container .image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.container .image .imageList {
  transform: translateX(45rem);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s;
}
.container .image img {
  width: 20rem;
  border-radius: 7px;
  margin: 0 1rem;
  filter: blur(2px);
  transition: all 0.7s;
}
.container .image .imageList .active {
  width: 23rem;
  filter: blur(0px);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
}
.container .image button:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}
.container .image button:nth-child(3) {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}
.container .image button:hover {
  background-color: #afafaf;
}
.container .image button img {
  filter: blur(0px);
  width: 20%;
}

/* Main section style  */

.main {
  width: 100%;
  height: auto;
}
.main .sectionOne {
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem;
}
.main .sectionOne h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}
.cardList {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cardList .cardContent:nth-child(1) .card {
  background-image: url(../../Assets/svg/undraw_access_account_re_8spm.svg);
}
.cardList .cardContent:nth-child(2) .card {
  background-image: url(../../Assets/svg/undraw_reviewed_docs_re_9lmr.svg);
}
.cardList .cardContent:nth-child(3) .card {
  background-image: url(../../Assets/svg/undraw_fill_form_re_cwyf.svg);
}
.cardList .cardContent:nth-child(4) .card {
  background-image: url(../../Assets/svg/undraw_download_re_li50.svg);
}
.cardList .cardContent {
  width: 17rem;
  height: 22rem;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 10px #5555556c;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.cardList .cardContent .card {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.cardList .cardContent h3 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  opacity: 0;
  transition: all 0.2s;
}
.cardList .cardContent:hover .card {
  filter: blur(7px);
}
.cardList .cardContent:hover h3 {
  opacity: 1;
}
#sectionOneBtn {
  display: flex;
  margin: 3rem auto;
  padding: 15px 50px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

/* section2 style is here  */

.main .sectionTwo {
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem;
}
.sectionTwo .sectionTwoImg img {
  width: 25rem;
  display: flex;
  margin: auto;
}
.sectionTwo .sectionTwoContent {
  width: 40rem;
  margin: 3rem auto;
  text-align: center;
}
.sectionTwoContent h1 {
  font-size: 2.5rem;
}
.sectionTwoContent p {
  margin-top: 2rem;
  color: #5d646e;
}

/* sectionThree style is here  */
.main .sectionThree{
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem;
}
.sectionThree h1 {
  font-size: 4rem;
  text-align: center;
  padding: 5px 10px;
  border-radius: 20px;
}
.sectionThree .packages {
  width: 100%;
  height: calc(100% - 6rem);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.packages .basicPakage , .packages .primiumPakage {
  height: 100%;
  padding: 2rem;
  box-shadow: 0px 3px 5px #5555558e;
  border-radius: 20px;
  transition: all .5s;
}
.packages .basicPakage {
  background: linear-gradient(45deg, #9165ff, #B9B2FF);
}
.packages .primiumPakage {
  background: linear-gradient(45deg, #ff00aa, #ff8af2);
}
.packages .active {
  flex-basis: 75%;
}
.packages .unactive {
  flex-basis: 20%;
}
.packages .unactive p, .packages .unactive h5, .packages .unactive ul, .packages .unactive button {
  display: none;
}
.packages .unactive h2 {
  writing-mode: vertical-lr;
  margin-top: 3rem;
}
.packages h2 {
  font-size: 3rem;
}
.packages p {
  font-size: 16px;
}
.packages ul {
  margin: 1rem 0 0 .5rem;
}
.packages ul li {
  display: flex;
  align-items: center;
  margin-top: 7px;
  font-weight: bold;
}
.packages img {
  width: 2rem;
  margin-right: 7px;
}
.packages img:nth-child(1) {
  cursor: pointer;
}
.packages button {
  margin-top: 2rem;
  padding: 13px 50px;
  font-size: 17px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  transition: .2s;
}
.packages button:hover {
  box-shadow: 0px 2px 8px #555;
  background: #eee;
}
.footer {
  width: 99%;
  height: 60px;
  padding: 5rem 2rem;
  margin: 2rem auto 2px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 7px #555555a2;
  border-radius: 20px;
}
.fotterInfo, .mediaLinks{
  flex-basis: 20%;
}
.footerLinks {
  flex-basis: 50%;
}
.fotterInfo div {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.fotterInfo div p {
  margin-left: 15px;
}
.fotterInfo img {
  width: 25px;
}
.mediaImg img {
  width: 35px;
  margin: 10px 5px;
}
.footerLinks {
  line-height: 25px;
  display: flex;
  justify-content: space-evenly;
}
.footerLinks ul a li {
  font-size: 15px;
}